<script src="https://d3js.org/d3.v3.min.js"></script>
<script>
    $( document ).ready(function() {
        $("#downpdf").click(function () {
            html2canvas($('#png_div'), {
                onrendered: function (canvas) {
                    var link = document.getElementById('downpdf');
                    link.setAttribute('download', '<%= mp.full_name %>.png');
                    link.setAttribute('href', canvas.toDataURL("image/png").replace("image/png", "image/octet-stream"));
                }
            });
        });
    });
</script>
<div id="png_div">
<div id="depytat" class="container">
  <h1 class="media-heading center-justified"><%=  mp.full_name  %></h1>

  <div class="row list-filters clearfix">
    <ul class="col sort-first text-uppercase">

      <li <%= params[:month] == "full" ? "class=disabled": "" %> >
        <%= link_to "за весь час", params.merge(month: nil), remote: true  %>
      </li>

      <li <%= params[:month] != "full" ? "class=disabled": "" %> >
        <% if !@month.blank? %>
        <div class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"><%= params[:month] != "full" ? month(params[:month]) : "обрати місяць" %>
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% @month.each do |m| %>
            <li <%= params[:month] == m.strftime('%Y-%m') ? "class=disabled": "" %> ><%= link_to month(m.strftime('%Y-%m')), params.merge(month: m.strftime('%Y-%m')), remote: true %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
      </li>
    </ul>
    <ul class="social col-4 pull-right text-uppercase">
      <li>
        <%= link_to api_mp_path(deputy_id: mp.id, format: :csv) do %>
                    <span class="fa-stack ">
                      <i class="fa fa-square-o fa-stack-2x"></i>
                      <i class="fa  fa-download  fa-stack-1x"></i>
                    </span>csv
        <% end %>
      </li>
      <li>
        <a href="javascript:void(0)" id ="downpdf">
          <span class="fa-stack ">
                      <i class="fa fa-square-o fa-stack-2x"></i>
                      <i class="fa  fa-download  fa-stack-1x"></i>
          </span> png
        </a>
      </li>
      <li>

                    <span class="fa-stack ">
                    <i class="fa  fa-share-alt  fa-stack-1x"></i>
                        </span>
        <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.protocol  + request.host +  request.fullpath %>" target="_blank">поширити</a>
      </li>
    </ul>
  </div>`
  <div class="row center-justified d-block d-sm-none">
  <div class="col">
    <img class="media-object circle-photo " src="/image/<%= mp.deputy_id %>.png" alt="<%=  mp.full_name %>" height="200">
    <p class="frac"><%= member_role(mp.faction, mp.okrug).html_safe %></p>
    <p><!--Обрано за списком партії з --></p>
  </div>
  </div>
  <div class="row center-justified first">
    <div class="col text-uppercase">
      <div id="attendance-fraction"
           data-percentage="<%= fraction_to_percentage_display(mp.mp_info.attendance_fraction)  %>"
           data-track-width="4"
           data-track-colour="E5E5E5"
           data-fill-colour="84F1FE"
           data-text-colour="4A4A4A"
           data-stroke-colour="FFFFFF"
           data-stroke-spacing="0">
      </div>
      <p style="margin-top:15px;">відвідування засідань</p>
    </div>
    <script>
        $( document ).ready(function() {
            var wrapper = document.getElementById('attendance-fraction');
            CreateRadialBar(wrapper);
        });
    </script>
    <div class="col d-none d-sm-block">
      <img class="media-object circle-photo " src="/image/<%= mp.deputy_id %>.png" alt="<%=  mp.full_name %>" height="200">
      <p class="frac"><%= member_role(mp.faction, mp.okrug).html_safe %></p>
      <p><!--Обрано за списком партії з --></p>
    </div>
    <div class="col text-uppercase">
      <% if  mp.mp_info.rebellions_fraction %>
      <div id="rebellions-fraction"
           data-percentage="<%=  fraction_to_percentage_display(mp.mp_info.rebellions_fraction) %>"
           data-track-width="4"
           data-track-colour="E5E5E5"
           data-fill-colour="FE6162"
           data-text-colour="4A4A4A"
           data-stroke-colour="FFFFFF"
           data-stroke-spacing="0">
      </div>
      <p style="margin-top:15px;">голосування проти фракції</p>
          <script>
              $( document ).ready(function() {
                  var wrapper2 = document.getElementById('rebellions-fraction');
                  CreateRadialBar(wrapper2);
              });
          </script>
      <% else %>
          <p style="margin-top:15px;">Індекс голосувань проти фракції неможливо встановити</p>
    <% end %>
    </div>
  </div>
</div>


<div id="stat" class="container-fluid ">
  <div class="container">
  <div class="row ">
    <h2 class="col-12 text-uppercase background-line center-justified text-xs-center">Статистика голосувань</h2>

    <ul class="col-8 object-secondary" style="margin: 0 auto;">
      <li>
        <span class="text-uppercase ">за </span>
        <span class="pull-right"><%= mp.mp_info.aye_voted %> голосувань</span>

        <div class="progress">
          <div class="progress-bar-1 progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="background-color: #88B04B">
            <%= fraction_to_percentage_display( mp.mp_info.aye_voted.to_f/mp.mp_info.votes_possible  ) %>
          </div>
        </div>
        <script type="text/javascript">
          //<![CDATA[
          $( document ).ready(function(){
            $(".progress-bar-1").animate({
              width: "<%= fraction_to_percentage_display( mp.mp_info.aye_voted.to_f/mp.mp_info.votes_possible ) %>"
            }, 2500);
          });
          //]]>
        </script>
      </li>
      <li>
        <span class="text-uppercase ">Проти </span>
        <span class="pull-right"><%= mp.mp_info.against %> голосувань</span>

        <div class="progress">
          <div class="progress-bar-2 progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="background-color: #FE6162">
            <%= fraction_to_percentage_display( mp.mp_info.against.to_f/mp.mp_info.votes_possible ) %>
          </div>
        </div>
        <script type="text/javascript">
          //<![CDATA[
          $( document ).ready(function(){
            $(".progress-bar-2").animate({
              width: "<%= fraction_to_percentage_display( mp.mp_info.against.to_f/mp.mp_info.votes_possible ) %>"
            }, 2500);
          });
          //]]>
        </script>
      </li>
      <li>
        <span class="text-uppercase ">Утримався </span>
        <span class="pull-right"><%= mp.mp_info.abstain %> голосувань</span>

        <div class="progress">
          <div class="progress-bar-5 progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="background-color: #01AFFF">
            <%= fraction_to_percentage_display( mp.mp_info.abstain.to_f/mp.mp_info.votes_possible ) %>
          </div>
        </div>
        <script type="text/javascript">
          //<![CDATA[
          $( document ).ready(function(){
            $(".progress-bar-5").animate({
              width: "<%= fraction_to_percentage_display( mp.mp_info.abstain.to_f/mp.mp_info.votes_possible ) %>"
            }, 2500);
          });
          //]]>
        </script>
      </li>
      <li>
        <span class="text-uppercase ">Не голосував </span>
        <span class="pull-right"><%= mp.mp_info.not_voted %> голосувань</span>

        <div class="progress">
          <div class="progress-bar-3 progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="background-color: #B3B2FE">
            <%= fraction_to_percentage_display( mp.mp_info.not_voted.to_f/mp.mp_info.votes_possible ) %>
          </div>
        </div>
        <script type="text/javascript">
          //<![CDATA[
          $( document ).ready(function(){
            $(".progress-bar-3").animate({
              width: "<%= fraction_to_percentage_display( mp.mp_info.not_voted.to_f/mp.mp_info.votes_possible ) %>"
            }, 2500);
          });
          //]]>
        </script>
      </li>
      <li>
        <span class="text-uppercase ">Відсутній </span>
        <span class="pull-right"><%= mp.mp_info.absent %> голосувань</span>

        <div class="progress">
          <div class="progress-bar-4 progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="background-color: #FFDD2D">
            <%= fraction_to_percentage_display( mp.mp_info.absent.to_f/mp.mp_info.votes_possible ) %>
          </div>
        </div>
        <script type="text/javascript">
          //<![CDATA[
          $( document ).ready(function(){
            $(".progress-bar-4").animate({
              width: "<%= fraction_to_percentage_display( mp.mp_info.absent.to_f/mp.mp_info.votes_possible ) %>"
            }, 2500);
          });
          //]]>
        </script>
      </li>



    </ul>
  </div>
</div>
</div>
</div>