<div class="col-12 list-filters clearfix">
  <ul class="sort-first text-uppercase">
    <li <%= params[:sort].nil? ? "class=disabled": "" %> ><%= link_to "За прізвищем", people_path(),  :remote => true %></li>
    <li <%= params[:sort] == "faction" ? "class=disabled": "" %> ><%= link_to "За Фракцією", people_path(sort: :faction),  :remote => true %></li>
    <li <%= params[:sort] == "distric" ? "class=disabled": "" %> ><%= link_to "За Округом", people_path(sort: :distric), :remote => true %></li>
    <li <%= params[:sort] == "rebellions" ? "class=disabled": "" %> ><%= link_to "За Дотриманням фракційної дисципліни", people_path(sort: :rebellions), :remote => true %></li>
    <li <%= params[:sort] == "attendance" ? "class=disabled": "" %> ><%= link_to "За Присутністю", people_path(sort: :attendance), :remote => true %></li>
  </ul>

  <% if params[:sort].nil? %>
      <ul class="sort-name">
        <% @filter.each do |f| %>
            <li class="<%= f == params[:filter] ? "active-fon-circle" : "" %>">
            <%= link_to(f, people_path(filter: f), remote: true)  %>
            </li>
        <% end %>
      </ul>
  <% end %>

  <% if params[:sort] == "faction" %>
      <ul class="sort-fraction">
        <% @filter.each do |f| %>
            <li class="<%= f == params[:filter] ? "active-fon-fraction" : "" %>">
              <%= link_to(f, people_path(sort: "faction" , filter: f), remote: true)  %>
            </li>
        <% end %>
      </ul>
  <% end %>

  <% if params[:sort] == "distric" %>
      <ul class="sort-distric">
        <% @filter.each do |f| %>
            <li class="<%= f == params[:filter].to_i ? "active-fon-circle" : "" %>">
              <%= link_to(f, people_path(sort: "distric" , filter: f), remote: true)  %>
            </li>
        <% end %>
      </ul>
  <% end %>

  <% if params[:sort] == "rebellions" %>

      <div id="slider-range">
        <div id="custom-handle" class="ui-slider-handle"></div>
      </div>

  <% end %>

  <% if params[:sort] == "attendance" %>

      <div id="slider-range">
        <div id="custom-handle" class="ui-slider-handle"></div>
      </div>

  <% end %>
</div>

<div class="col-12">
<% mps.each_with_index do |m, i| %>
    <% if i % 2 == 0  %>
        <div class="row">
    <% end %>

    <div class="col-6">
      <div class="card card-person ">
        <%= link_to show_people_path(m.url_name), class: "" do %>
            <div class="row">
              <div class="col-3">
                <img class="card-photo" src="/image/<%= m.deputy_id %>.png" alt="<%=  m.full_name  %>">
              </div>
              <div class="col-9">
                <p class="card-name"><%=  m.full_name  %></p>
                <p class="card-fraction">Фракція "<%= member_role(m.faction, m.okrug) %>"</p>
                <p class="card-elected">Обрано за списком партії  XXXX</p>

                <div class="row check">
                  <div class="col-6 text-uppercase float-left">
                    <p class="checkin">присутність</p>
                    <p class="card-percent"><%= fraction_to_percentage_display(m.mp_info.attendance_fraction) %> засідань</p></div>
                  <div class="col-6 text-uppercase">
                    <p class="checkin">проти фракції</p>
                    <p class="card-percent"><%= fraction_to_percentage_display(m.mp_info.rebellions_fraction) %> голосувань</p></div>
                </div>
              </div>
            </div>
      </div>
        <% end %>
    </div>

    <% if i % 2== 1 %>
        </div>
    <% end %>

<% end %>
</div>
<% unless mps.last_page? %>
    <%= link_to('<h4 class="text-uppercase text-center">Більше <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h4>'.html_safe, params.merge(:per => (params[:per].to_i + 8)), remote: true ) %>
<% end %>
</div>
<script>
    //slider range
    $(function() {
        $( "#slider-range" ).slider({
            range: true,
            min: 0,
            max: 100,
            step: 10,
            values: [ <%= params[:filter_min] %>, <%= params[:filter_max] %> ],
            slide: function( event, ui ) {
                console.log(ui.values);

                $.ajax({
                    type: "GET",
                    url: "/people.js?filter_min=" + ui.values[0] + "&filter_max="+ ui.values[1] +"&sort=<%= params[:sort] %>"
                });
            }
        }).each(function() {

            // Add labels to slider whose values
            // are specified by min, max

            // Get the options for this slider (specified above)
            var opt = $(this).data().uiSlider.options;

            // Get the number of possible values
            var vals = opt.max - opt.min;

            // Position the labels
            for (var i = 0; i <= vals; i = i + opt.step ) {

                // Create a new element and position it with percentages
                var el = $('<label></label>').css('left', (i) + '%');

                // Add the element inside #slider
                $("#slider-range").append(el);

            }
            $('#custom-handle').append($('<span class = "custom-handle"><%= params[:filter_min] %></span>'));
            $('span.ui-slider-handle').append($('<span class = "custom-handle"><%= params[:filter_max] %></span>'));;

        });
    });
</script>