<div class="container">
    <div class="row">
        <% division.each do |d| %>
        <div class="col-12 col-sm-6" style="margin-bottom: 25px">
            <%= link_to divisions_show_path(d.date, d.number), class: "" do %>
            <div class="col-12 pull-right card" style="padding: 25px 30px">
                <div class="row text-uppercase">
                    <p class="approve col-12"><i class="fa <%=  d.result == "Прийнято" ? "fa-check-circle" : "fa-times-circle"  %>" aria-hidden="true"></i> <%= d.result %></p>
                    <p class="card-date col-12"><%= d.date.strftime('%d.%m.%Y') %>, <%= Time.parse(d.clock_time).strftime('%H:%M') %> </p>
                </div>
                <div class="row card-text">
                    <p><%=  d.name  %></p>
                </div>
                <div class="row check">
                    <div class="col-4 text-uppercase float-left">
                        <p class="checkin">присутність</p>
                        <p class="card-percent"><%= fraction_to_percentage_display(d.division_info.attendance_division) %></p>
                    </div>
                    <div class="col-4 text-uppercase">
                        <p class="checkin">проти фракції</p>
                        <p class="card-percent"><%= d.division_info.rebellions %>  голосувань</p>
                    </div>

                    <div class="col-4 text-uppercase" style="top: -30px;color:#000;font-size: 8px;line-height: 18px;">
                      <%= result_voted(d.votes.find_mp(mp.id )) %>
                    </div>

                    <style>
                        

                    </style>
                </div>
            </div>
            <% end %>
        </div>
        <% end %>
    </div>
</div>
<div class="index-pagination">
  <% unless division.last_page? or division.blank? %>
      <%= link_to('<h4 class="text-uppercase text-center">Більше <i class="fa fa-arrow-circle-right fa-2x" aria-hidden="true"></i></h4>'.html_safe, people_divisions_path(params.merge(page: division.current_page + 1)), remote: true, id: "load_more_link" ) %>
  <% end %>
</div>
