<% content_for :title,  "#{ @mp.full_name } — Як Голосує Твій Депутат? " %>
<div class="container">
<%= render "header", mp: @mp %>
  <% if params[:filter] == "rebellions" %>
      <h2>Усі голосування проти фракції</h2>
      <p>
        <%= @mp.short_name %> голосував проти фракції <%= @mp.mp_info.rebellions %> разів <%= link_to 'що таке “голосування проти фракції”' %>
      </p>
  <% else %>
      <h2>Всі голосування</h2>
      <p>
        Всі голосування на яких <%= @mp.short_name %> міг віддати свій голос.
      </p>
  <% end %>
<%= render "voted", division: @division, mp: @mp  %>
  <div class="index-pagination">
    <%= paginate @division %>
  </div>

</div>