<style>
  /*депутати і голосування*/
  #search-main input[type="text"] {
    background-color: #F5F5F5;
    margin: 50px 0 80px 0;
  }
  #search-main .fa-inverse{
    color:#282828;
    top: -13px;
  }
  #search-main .arrow-icon{
    top: 65px;
  }
  #slider-range label {
    position: absolute;
    width: 20px;
    margin-top: 20px;
    margin-left: -10px;
    text-align: center;
  }
</style>
<script>
  //slider range
    window.onload = function() {
        $( "#slider-range" ).slider({
            range: true,
            min: 0,
            max: 50,
            values: [ 5, 30 ],
            slide: function( event, ui ) {
            }
        }).each(function() {

            // Add labels to slider whose values
            // are specified by min, max

            // Get the options for this slider (specified above)
            var opt = $(this).data().uiSlider.options;

            // Get the number of possible values
            var vals = opt.max - opt.min;

            // Position the labels
            for (var i = 0; i <= vals; i++) {

                // Create a new element and position it with percentages
                var el = $('<label>' + (i + opt.min) + '</label>').css('left', (i/vals*100) + '%');

                // Add the element inside #slider
                $("#slider-range").append(el);

            }

        });
    };
    //search
    window.onload = function() {
        var availableTags = [
            <% @mps.each do |m| %>
            "<%= m.full_name %>",
            <% end %>
        ];
        $( "#mp" ).autocomplete({
            source: availableTags
        });
    };
</script>

<% content_for :title, "Депутати — Як Голосує Твій Депутат?" %>

<div id="first-block" class="container people">

  <h1 class="text-uppercase center-justified">Депутати львівської облради</h1>

  <div class="col-12">
    <%= form_tag(search_mp_path, method: "get", class: "col-8 form-inline mt-2 mt-md-0 push-2", id: "search-main" ) do  %>
                          <span class="fa-stack">
                            <i class="fa fa-search fa-stack-1x fa-inverse" aria-hidden="true"></i>
                          </span>
        <%= text_field_tag(:mp, params[:mp] , class: "form-control mr-sm-2" , placeholder: "напр., Адамик Петро Михайлович" ) %>
        <i class="fa fa-chevron-down arrow-icon" aria-hidden="true"></i>
    <% end %>
    <!--<form class="col-8 form-inline mt-2 mt-md-0 push-2" method="get" action="/search" id="search-main" >-->
                    <!--<span class="fa-stack">-->
                        <!--<i class="fa fa-search fa-stack-1x fa-inverse" aria-hidden="true"></i>-->
                    <!--</span>-->
      <!--<input class="form-control mr-sm-2" type="text" placeholder="напр., Адамик Петро Михайлович">-->
      <!--<i class="fa fa-chevron-down arrow-icon" aria-hidden="true"></i>-->
    <!--</form>-->
  </div>

  <div class="list-filters clearfix">
    <ul class="sort-first text-uppercase">
      <li <%= params[:sort].nil? ? "class=disabled": "" %> ><%= link_to "За прізвищем", people_path() %></li>
      <li <%= params[:sort] == "faction" ? "class=disabled": "" %> ><%= link_to "Фракцією", people_path(sort: :faction) %></li>
      <li <%= params[:sort] == "distric" ? "class=disabled": "" %> ><%= link_to "Округом", people_path(sort: :distric) %></li>
      <li <%= params[:sort] == "rebellions" ? "class=disabled": "" %> ><%= link_to "Дотриманням фракційної дисципліни", people_path(sort: :rebellions) %></li>
      <li <%= params[:sort] == "attendance" ? "class=disabled": "" %> ><%= link_to "Присутністю", people_path(sort: :attendance) %></li>
    </ul>

    <% if params[:sort].nil? %>
      <ul class="sort-name">
        <li class="active-fon-circle">
          <a href="">А</a></li>
        <li class="">
          <a href="">Б</a></li>
        <li class="">
          <a href="">Б</a></li>
      </ul>
    <% end %>

    <% if params[:sort] == "faction" %>
      <ul class="sort-fraction">
        <li class="active-fon-fraction"><a href="">Блок Петра Порошенка</a> </li>
        <li><a href="">фывфывфывфыва</a> </li>
        <li><a href="">фывфывфывфыва</a> </li>
        <li><a href="">фывфывфывфыва</a> </li>

      </ul>
    <% end %>

    <% if params[:sort] == "distric" %>
      <ul class="sort-distric">
        <li class="active-fon-circle">
          <a href="">1</a></li>
        <li class="">
          <a href="">2</a></li>
        <li class="">
          <a href="">3</a></li>
      </ul>
    <% end %>

    <% if params[:sort] == "rebellions" %>

          <div id="slider-range"></div>

    <% end %>

    <% if params[:sort] == "attendance" %>

          <div id="slider-range"></div>

    <% end %>
  </div>


  <% @mps.each_with_index do |m, i| %>
    <% if i % 2 == 0  %>
      <div class="row">
    <% end %>

      <div class="col-6">
        <div class="col-12 card card-person ">
          <%= link_to show_people_path(m.url_name), class: "" do %>
          <div class="row">
            <div class="col-3">
              <img class="card-photo" src="/image/<%= m.deputy_id %>.png" alt="<%=  m.full_name  %>">
            </div>
            <div class="col-9">
              <p class="card-name"><%=  m.full_name  %></p>
              <p class="card-fraction">Фракція "<%= member_role(m.faction, m.okrug) %>"</p>
              <p class="card-elected">Обрано за списком партії  XXXX </p>

              <div class="row check">
                <div class="col-6 text-uppercase float-left">
                  <p class="checkin">присутність</p>
                  <p class="card-percent"><%= fraction_to_percentage_display(m.mp_info.attendance_fraction) %> засідань</p></div>
                <div class="col-6 text-uppercase">
                  <p class="checkin">проти фракції</p>
                  <p class="card-percent"><%= fraction_to_percentage_display(m.mp_info.rebellions_fraction) %> голосувань</p></div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>

    <% if i % 2== 1 %>
      </div>
    <% end %>

    <% end %>


</div>
</div>
