<% content_for :title,  "#{ @mp.full_name } — Як Голосує Твій Депутат?" %>
<div class="container">
  <%= render "header", mp: @mp %>

  <div id="det" class="container">
    <h2 class="center-justified text-xs-center text-uppercase background-line">Деталі голосувань</h2>
    <div class="col-12 list-filters clearfix">
      <ul class="sort-first text-uppercase">
        <li <%= params[:vote].blank? ? "class=disabled": "" %>><%= link_to "Голосування проти фракції", show_people_path(@mp.url_name) %></li>
        <li <%= params[:vote] == "last_vote" ? "class=disabled": "" %>><%= link_to "Останні голосування", show_people_path(@mp.url_name, vote: "last_vote") %></li>
        <li <%= params[:vote] == "friends" ? "class=disabled": "" %>><%= link_to "Друзі по голосуванню", show_people_path(@mp.url_name, vote: "friends" )%></li>
      </ul>
    </div>


  <% if params[:vote] == "last_vote" %>
      <p class="text-xs-center ">Голосування в яких депутат міг взяти участь</p>
      <%= render "voted", division: @division, mp: @mp  %>
      <%#= link_to "Дивитись всі голосування", people_divisions_path(@mp.url_name), class: "btn btn-default btn-sm" %>
   <% elsif params[:vote] == "friends"  %>
      <p class="text-xs-center ">Депутати, що голосують подібно. Таким чином, можна виявити
        неочікуваний зв’язок між політичними позиціями депутатів.</p>
      <%= render "friends", friends: @friends, mp: @mp  %>
      <%#= link_to "Більше друзів по голосуванню", people_friends_path(@mp.url_name), class: "btn btn-default btn-sm" %>
   <% else %>
  <p class="text-xs-center "><%= @mp.short_name %> голосував проти лінії фракції політичної партії
    "<%= @mp.faction %>" <%= @mp.mp_info.rebellions %> разів</p>
  <%= render "voted", division: @division_rebilions, mp: @mp %>
  <%#= link_to "Дивитись всі голосування проти фракції", people_divisions_path(@mp.url_name, filter: :rebellions ), class: "btn btn-default btn-sm" %>
   <% end %>

  </div>

</div>
