<p id="notice"><%= notice %></p>

<h1>Policy Divisions</h1>

<table>
  <thead>
    <tr>
      <th>Policy</th>
      <th>Vote</th>
      <th>Support</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @policy_divisions.each do |policy_division| %>
      <tr>
        <td><%= policy_division.policy %></td>
        <td><%= policy_division.vote %></td>
        <td><%= policy_division.support %></td>
        <td><%= link_to 'Show', policy_division %></td>
        <td><%= link_to 'Edit', edit_policy_division_path(policy_division) %></td>
        <td><%= link_to 'Destroy', policy_division, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Policy Division', new_policy_division_path %>
