<div class="list-filters clearfix">
  <ul class="sort-first text-uppercase d-none d-sm-none d-md-none d-lg-block">
    <li <%= params[:sort] == "date" ? "class=disabled": "" %> ><%= link_to "За Датою", params.merge(sort: :date, filter_min: nil, filter_max: nil), remote: true %></li>
    <li <%= params[:sort] == "attendance" ? "class=disabled": "" %> ><%= link_to "За Присутністю", params.merge(sort: :attendance, filter_min: nil, filter_max: nil, min_date:nil, max_date: nil, last: nil), remote: true %></li>
    <li <%= params[:sort] == "rebellions" ? "class=disabled": "" %> ><%= link_to "ЗА ФРАКЦІЙНОЮ ДИСЦИПЛІНОЮ", params.merge(sort: :rebellions, filter_min: nil, filter_max: nil, min_date:nil, max_date: nil, last: nil), remote: true %></li>
  </ul>
  <select class="mobile_select d-block d-md-none" onchange="window.location.href=this.value;">
      <option  <%= params[:sort]== "date" ? 'selected="selected"': ''%> value="<%=divisions_path(params.merge(sort: :date, filter_min: nil, filter_max: nil))%>">За Датою</option>
      <option <%= params[:sort]== "attendance" ? 'selected="selected"': ''%> value="<%=divisions_path(params.merge(sort: :attendance, filter_min: nil, filter_max: nil, min_date:nil, max_date: nil, last: nil))%>">За Присутністю</option>
      <option <%= params[:sort] == "rebellions" ? 'selected="selected"': ''%> value="<%=divisions_path(params.merge(sort: :rebellions, filter_min: nil, filter_max: nil, min_date:nil, max_date: nil, last: nil))%>">ЗА ФРАКЦІЙНОЮ ДИСЦИПЛІНОЮ</option>
  </select>


  <% if params[:sort] == "attendance" %>
      <div id="slider-range">
        <div id="custom-handle" class="ui-slider-handle"></div>
      </div>
  <% end %>

  <% if params[:sort] == "rebellions" %>
      <div id="slider-range">
        <div id="custom-handle" class="ui-slider-handle"></div>
      </div>
  <% end %>

  <% if params[:sort] == "date" %>
      <ul class="sort-fraction">
        <li <%= params[:last] == "3" ? 'class="active-fon-fraction"'.html_safe : ""  %>><%= link_to "За останні 3 місяця", params.merge(last: "3"), remote: true %></li>
        <li <%= params[:last] == "1" ? 'class="active-fon-fraction"'.html_safe : ""  %>><%= link_to "За останній пленарний місяць", params.merge(last: "1"), remote: true %></li>
      </ul>
    <div id="calendar" class="text-xs-center text-uppercase">
      <label for="from">за період з</label>
      <input type="text" id="from" name="from" value="<%= params[:min_date] %>">
        <i class="fa fa-chevron-down arrow-icon date-pointer" aria-hidden="true"></i>

      <label for="to">до</label>
      <input type="text" id="to" name="to" value="<%= params[:max_date] %>">
        <i class="fa fa-chevron-down arrow-icon date-pointer" aria-hidden="true"></i>

    </div>
      <script>

          function AjaxGetDate (min_date, max_date) {
              $.ajax({
                  <% if params[:divisions].nil? or params[:divisions].blank?  %>
                  url: "/divisions?min_date=" + min_date + "&max_date=" + max_date + "",
                  <% else %>
                  url: "/divisions?min_date=" + min_date + "&max_date=" + max_date + "&divisions=<%= params[:divisions] %> ",
                  <% end %>
                  headers: {
                      Accept: "text/javascript, application/javascript, application/ecmascript, application/x-ecmascript",
                      "Content-Type": "text/javascript; charset=utf-8"
                  }
              });
          }
          $( "#calendar input[type='text']" ).change(function() {
              var min_date = $('#from').val(),
              max_date = $('#to').val();
              AjaxGetDate(min_date, max_date);
          });
          //    DatePiker
          $(function () {
              var dateFormat = 'dd.mm.yy',
                  from = $("#from")
                      .datepicker({
                          defaultDate: "+1w",
                          changeMonth: true,
                          numberOfMonths: 1,
                          regional: ["uk"]
                      })
                      .on("change", function () {
                          to.datepicker("option", "minDate", getDate(this));
                          var min_date = $('#from').val(),
                              max_date = $('#to').val();
                          AjaxGetDate(min_date, max_date);
                      }),
                  to = $("#to").datepicker({
                      defaultDate: "+1w",
                      changeMonth: true,
                      numberOfMonths: 1,
                      regional:  ["uk"]
                  })
                      .on("change", function () {
                          from.datepicker("option", "maxDate", getDate(this));
                          var min_date = $('#from').val(),
                              max_date = $('#to').val();
                          AjaxGetDate(min_date, max_date);
                      });

              function getDate(element) {
                  var date;
                  try {
                      date = $.datepicker.parseDate(dateFormat, element.value);
                  } catch (error) {
                      date = null;
                  }

                  return date;
              }
          });
      </script>
  <% end %>
  <div id="list_division">
    <%= render "voted", division: divisions  %>
  </div>

</div>
<script>
    window.onload = LoadPage;
        function LoadPage() {
        //slider range
        $(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 100,
                step: 10,
                values: [<%= params[:filter_min] %>, <%= params[:filter_max] %>],
                slide: function (event, ui) {
                    $.ajax({
                        <% if params[:divisions].nil? or params[:divisions].blank?  %>
                        url: "/divisions?filter_min=" + ui.values[0] + "&filter_max=" + ui.values[1] + "&sort=<%= params[:sort]  %>",
                        <% else %>
                        url: "/divisions?filter_min=" + ui.values[0] + "&filter_max=" + ui.values[1] + "&sort=<%= params[:sort]  %>&divisions=<%= params[:divisions] %>",
                        <% end %>
                        headers: {
                            Accept: "text/javascript, application/javascript, application/ecmascript, application/x-ecmascript",
                            "Content-Type": "text/javascript; charset=utf-8"
                        }
                    });
                }
            }).each(function () {

                // Add labels to slider whose values
                // are specified by min, max

                // Get the options for this slider (specified above)
                var opt = $(this).data().uiSlider.options;

                // Get the number of possible values
                var vals = opt.max - opt.min;

                // Position the labels
                for (var i = 0; i <= vals; i = i + opt.step) {

                    // Create a new element and position it with percentages
                    var el = $('<label></label>').css('left', (i) + '%');

                    // Add the element inside #slider
                    $("#slider-range").append(el);

                }
                $('#custom-handle').append($('<span class = "custom-handle"><%= params[:filter_min] %>%</span>'));
                $('span.ui-slider-handle').append($('<span class = "custom-handle"><%= params[:filter_max] %>%</span>'));
                ;

            });
        });

    }
</script>

