<div class="row">
    <div class="container">
    <% division.each do |d| %>
            <%= link_to divisions_show_path(d.date, d.number), class: "row" do %>
            <div class="col-12 pull-right card">
                <div class="row">
                    <div class="col text-uppercase">
                        <p class="approve"><i class="fa <%=  d.result.include?("НЕ ПРИЙНЯТО") ? "fa-times-circle" : "fa-check-circle"  %>" aria-hidden="true"></i> <%= d.result %></p>
                        <p class="card-date"><%= d.date.strftime('%d.%m.%Y') %>, <%= Time.parse(d.clock_time).strftime('%H:%M') %> </p>
                    </div>
                    <div class="col-9 card-text">
                        <p><%=  d.name  %></p>
                        <div class="row check">
                            <div class="col-4 text-uppercase float-left">
                                <p class="checkin">присутність</p>
                                <p class="card-percent"><%= fraction_to_percentage_display(d.division_info.attendance_division) %></p>
                            </div>
                            <div class="col-4 text-uppercase">
                                <p class="checkin">проти фракції</p>
                                <p class="card-percent"><%= d.division_info.rebellions %>  голосувань</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
    <% end %>
    </div>
</div>
<div class="index-pagination">

  <% unless division.last_page? or division.blank? %>
      <%= link_to('<h4 class="text-uppercase text-center">Більше <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h4>'.html_safe, divisions_next_path(params.merge(page: division.current_page + 1)), remote: true, id: "load_more_link" ) %>
  <% end %>
</div>