<% content_for :title, "Голосування — Як Голосує Твій Депутат?" %>

<div id="divisionshow" class="container">
    <h1 class="text-uppercase center-justified ">Голосування львівської облради</h1>

    <div class="row">
        <div class="col">
            <ul class="social text-uppercase">
                <li>
                    <span class="fa-stack ">
                      <i class="fa fa-square-o fa-stack-2x"></i>
                      <i class="fa  fa-download  fa-stack-1x"></i>
                    </span>
                    <a href="" >текст рішення</a></li>
            </ul></div>
        <ul class="social col-4 pull-right text-uppercase">
            <li>
                    <span class="fa-stack ">
                      <i class="fa fa-square-o fa-stack-2x"></i>
                      <i class="fa  fa-download  fa-stack-1x"></i>
                    </span>
                <a href="" >csv</a></li>
            <li><span class="fa-stack ">
                      <i class="fa fa-square-o fa-stack-2x"></i>
                      <i class="fa  fa-download  fa-stack-1x"></i>
                    </span>
                <a href="" >png</a></li>
            <li>
                    <span class="fa-stack ">
                    <i class="fa  fa-share-alt  fa-stack-1x"></i>
                        </span>
                <a href="" >поширити</a>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="container">
            <% @divisions.each do |d| %>
            <div class="col-12 pull-right card">
                <div class="row">
                    <div class="col text-uppercase text-xs-center">
                        <p class="approve">
                            <i class="fa <%=  d.result.strip == "Прийнято" ? "fa-check-circle" : "fa-times-circle"  %>" aria-hidden="true"></i>
                            <span><%= d.result %></span></p>
                        <p class="card-date"><%= d.date.strftime('%d.%m.%Y') %>, <%= Time.parse(d.clock_time).strftime('%H:%M') %>  </p>
                    </div>
                    <div class="col-10 card-text">

                        <p><%=  d.name  %></p>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>

<div class="container-fluid">
  <% @divisions.each do |d| %>

      <h2 class="text-uppercase center-justified ">Статистика голосування </h2>
      <% if d.division_info.rebellions > 0 %>
        <p>Відбулося <span class="rebel"><%= d.division_info.rebellions %> голосування</span> проти лінії фракції.</p>
      <% else %>
        <p>Ніхто не голосував проти лінії фракції</p>
      <% end %>

    <% @whips.each_with_index  do |w, i| %>
    <div id="accordion-<%= i %>" class="row panel-group">
        <div class="col-12 panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-<%= i %>" href="#detail-<%= i %>" class="collapsed" aria-expanded="false">
                    <h3 class="panel-title text-uppercase">
                    <%= w.party %>
                    </h3>
                    <div class="row golos">
                        <div class="col text-uppercase <%= w.whip_guess != "aye" and w.aye_votes > 0 ? "rebel" : "normal" %>">за <span><%= w.aye_votes %></span></div>
                        <div class="col text-uppercase <%= w.whip_guess != "against" and w.against > 0 ? "rebel" : "normal" %>">проти <span><%= w.against %></span></div>
                        <div class="col text-uppercase <%= w.whip_guess != "abstain" and  w.abstain > 0 ? "rebel" : "normal" %>">утримався <span><%= w.abstain %></span></div>
                        <div class="col text-uppercase <%= w.whip_guess != "not_voted" and  w.no_votes > 0 ? "rebel" : "normal" %>">не голосвав <span><%= w.no_votes %></span></div>
                        <div class="col text-uppercase">присутність
                            <small class="post-title text-muted">(<%= fraction_to_percentage_display((w.aye_votes + w.against + w.abstain + w.no_votes).to_f/(w.aye_votes + w.against + w.abstain + w.no_votes + w.absent))%> явки)</small>
                            <i class="fa fa-chevron-down arrow-icon" aria-hidden="true"></i></div>
                    </div>
                </a>
            </div>

            <div id="detail-<%= i %>" class="panel-collapse detail collapse container" aria-expanded="false" >
                <div class="row">
                    <div class="col-4 text-uppercase">
                        результати голосування
                    </div>

                    <div class="col-8">
                        <% @voted[w.party].each do |v| %>
                        <div  class="member-row member-row-<%= i %> party-member-row row" >

                            <div class="panel-body col-8">
                                <%= link_to v[:name], show_people_path(v[:url]), target: "_blank" %>
                            </div>

                            <div class="col-4 text-uppercase <%=  w.whip_guess == v[:vote] or  v[:vote] =="absent" ? "": "rebel"   %>"><%= result_voted_mp(v[:vote]) %></div>

                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% end %>

</div>

<div class="container-fluid">

        <h3 class="panel-title text-uppercase">Всього</h3>

    <div class="row golos">
        <div class="col text-uppercase ">Так  <span ><%=  d.division_info.aye_votes %> </span></div>
        <div class="col text-uppercase ">Ні <span>  <%=  d.division_info.against %> </span></div>
        <div class="col text-uppercase  ">Утрималися <span><%=  d.division_info.abstain %> </span></div>
        <div class="col text-uppercase ">Не голосували <span><%=  d.division_info.no_votes %> </span></div>
        <div class="col text-uppercase">присутність
            <small class="post-title text-muted">(<%= fraction_to_percentage_display(d.division_info.attendance_division) %> явки)</small>
        </div>
    </div>
</div>






<!--
    <table class="table">
      <colgroup class="column-name" span="1"></colgroup>
      <colgroup class="column-vote" span="1"></colgroup>
      <colgroup class="column-toggler" span="1"></colgroup>
      <thead>
      <tr>
        <th>Фракція</th>
        <th class="cell-vote">Голоси</th>
        <th class="cell-toggler"></th>
      </tr>
      </thead>
      <tbody>
      <% @whips.each_with_index  do |w, i| %>
      <tr class="party-row" data-target=".member-row-<%= i %>" data-toggle="collapse" role="tab" aria-selected="false" aria-expanded="false">
        <th class="cell-name">
          <span class="party-name"><%= w.party %></span>
          <small class="post-title text-muted">(<%= fraction_to_percentage_display((w.aye_votes + w.against + w.abstain + w.no_votes).to_f/(w.aye_votes + w.against + w.abstain + w.no_votes + w.absent))%>
            явки)</small>
        </th>
        <td class="cell-vote">
          <span class="<%= w.whip_guess != "aye" and w.aye_votes > 0 ? "rebel" : "normal" %>"><%= w.aye_votes %> Так </span>
          <span class="<%= w.whip_guess != "against" and w.against > 0 ? "rebel" : "normal" %>"><%= w.against %> Ні</span>
          <span class="<%= w.whip_guess != "abstain" and  w.abstain > 0 ? "rebel" : "normal" %>"><%= w.abstain %> Утрималися</span>
          <span class="<%= w.whip_guess != "not_voted" and  w.no_votes > 0 ? "rebel" : "normal" %>"><%= w.no_votes %> Не голосували</span>
        </td>
        <td class="cell-toggler">
          <button class="btn glyphicon glyphicon-chevron-down" data-target=".member-row-<%= i %>" data-toggle="collapse" role="tab" aria-selected="false" aria-expanded="false">
            <span class="sr-only">показати усіх членів</span>
          </button>
        </td>
      </tr>
          <% @voted[w.party].each do |v| %>
      <tr class="collapse member-row member-row-<%= i %> party-member-row">
        <th class="cell-name">
          <%= link_to v[:name], show_people_path(v[:url]), target: "_blank" %>
          <span class="text-muted member-electorate"></span>
          <small class="post-title text-muted"></small>
        </th>
        <td class="cell-vote <%=  w.whip_guess == v[:vote] or  v[:vote] =="absent" ? "": "rebel"   %>"><%= result_voted_mp(v[:vote]) %></td>
        <td class="cell-toggler"></td>
      </tr>
          <% end %>
      <% end %>
      <tr>
        <th class="whip">
          Всього
          <small class="post-title text-muted">(<%= fraction_to_percentage_display(d.division_info.attendance_division) %> явки)</small>
        </th>
        <td class="cell-vote">
          <span class="whip"><%=  d.division_info.aye_votes %> Так</span>
          <span class="normal"><%=  d.division_info.against %> Ні</span>
          <span><%=  d.division_info.abstain %> Утрималися</span>
          <span><%=  d.division_info.no_votes %> Не голосували</span>
        </td>
        <td class="cell-toggler"></td>
      </tr>
      </tbody>
      </table>
-->

<figcaption class='panel-footer small'>
<% if d.division_info.rebellions > 0 %>
  <p><span class="rebel">Червоні позначки</span> позначають голоси проти лінії фракції.</p>
<% end %>
<p>Явка - це відсоток депутатів, картки яких у момент волевиявлення були активовані у системі голосування.</p>
</figcaption>
<% end %>

<div class="bottom"></div>

</div>