<div class="container">
  <% unless params[:query].blank? %>
    <% if @divisions.blank? and @mps.blank? %>
        <p>Ми нічого не знайшли за запитом “<%= params[:query] %>”.</p>
        <p>Перевірте написання або спробуйте альтернативні терміни.</p>
        <p>Можливо вам допоможе пощук по <%= link_to "Депутатах", people_path %>,  <%= link_to "Голосуваннях", divisions_path %> або статистка <%= link_to "Сумісних голосувань", sumisne_holosuvannia_path %> фракцій.</p>
    <% else %>
          <div class="tab-content search-cat-content">
            <div class="tab-pane active in fade show" id="search-cat-1">
              <div class="panel-group" id="accordion-cat-search">

      <% unless @mps.blank? %>
                    <div class="panel panel-default panel-search">
                      <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion-cat-search-mp" href="#search-cat-1-sub-1">
                          <p class="panel-title">
                            Депутати. <%= @mps.size %> результати
                            <span class="pull-right"><i class="fa fa-chevron-down arrow-icon" aria-hidden="true"></i></span>
                          </p>
                        </a>
                      </div>
                      <div id="search-cat-1-sub-1" class="panel-collapse collapse">
                        <div class="panel-body">
                          <div class="list-group">
                          <% @mps.each do |m| %>
                              <%= link_to show_people_path(m.url_name), class: "list-group-item" do %>
                                  <h2 class="media-heading"><%=  m.full_name  %></h2>
                                  <p><%= member_role(m.faction, m.okrug) %></p>
                              <% end %>
                          <% end %>
                          </div>
                        </div>
                      </div>
                    </div>

      <% end %>
      <% unless @divisions.blank? %>
          <div class="panel panel-default panel-search">
              <div class="panel-heading">
                  <a data-toggle="collapse" data-parent="#accordion-cat-search-voted" href="#search-cat-1-sub-2">
                    <p class="panel-title">
                        Голосування. <%=  @divisions.size  %> результатів.
                        <span class="pull-right"><i class="fa fa-chevron-down arrow-icon" aria-hidden="true"></i></span>
                    </p>
                  </a>
              </div>
              <div id="search-cat-1-sub-2" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="list-group">
                      <% @divisions.each do |d| %>
                          <%= link_to d.name , divisions_show_path(d.date, d.number), class: "list-group-item" %>
                      <% end %>
                    </div>
                  </div>
              </div>
          </div>
      <% end %>
        </div>
            </div>
          </div>
    <% end %>
  <% end %>
</div>