<% content_for :title, "Вони голосують для тебе — Як Голосує Твій Депутат?" %>
<div class="col-8 " style="margin: 0 auto;">
  <div class="col-12">
    <p class="text-uppercase text-center text-q">Як депутати голосують за питання, які важливі для тебе?</p>
  </div>
  <div class="col-12">
    <%= form_tag(search_mp_path, method: "get", class: "form-inline mt-2 mt-md-0", id: "search-main" ) do  %>
                          <span class="fa-stack">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-search fa-stack-1x fa-inverse" aria-hidden="true"></i>
                          </span>
        <%= text_field_tag(:mp, params[:mp] , class: "form-control mr-sm-2" , placeholder: "напр., Адамик Петро Михайлович" ) %>
        <i class="fa fa-chevron-down arrow-icon" aria-hidden="true"></i>
    <% end %>
  </div>
</div>
</header>
<div id="first-block" class="container">
  <div class="col-12"><h3 class="text-uppercase text-center background-line">Останні голосування міськради</h3></div>
  <% @last_division.each_with_index do |d, i| %>
    <% if i % 2 == 0  %>
    <div class="row">
    <% end %>
      <div class="col-6">
        <%= link_to divisions_show_path(d.date, d.number), class: "" do %>
        <div class="col-12 pull-right card">
          <div class="row text-uppercase">
            <p class="approve"><i class="fa <%=  d.result == "Прийнято" ? "fa-check-circle" : "fa-times-circle"  %>" aria-hidden="true"></i> <%= d.result %></p>
            <p class="card-date"><%= d.date.strftime('%d.%m.%Y') %> / <%= Time.parse(d.clock_time).strftime('%H:%M') %></p>
          </div>
          <div class="row card-text">
            <p><%=  d.name  %></p>
          </div>
          <div class="row check">
            <div class="col-4 text-uppercase float-left">
              <p class="checkin">присутність</p>
              <p class="card-percent"><%= fraction_to_percentage_display(d.division_info.attendance_division) %></p>
            </div>
            <div class="col-4 text-uppercase">
              <p class="checkin">проти фракції</p>
              <p class="card-percent"><%= d.division_info.rebellions %>  голосувань</p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    <% if i % 2 == 1 %>
    </div>
    <% end %>
  <% end %>
  <div class="col-12"><%= link_to "<h4 class='text-uppercase text-center'>До всіх голосувань <i class='fa fa-arrow-circle-right' aria-hidden='true'></i></h4>".html_safe, divisions_path  %></div>
</div>

<div id="second-block" class="container-fluid">
  <div class="container">
    <div class="col-12"><h3 class="text-uppercase text-center background-line">Прогульники засідань</h3></div>
    <% @top_mp_rebellions.each_with_index do |mp, i| %>
    
      <% if i % 2 == 0  %>
      <div class="row">
      <% end %>
        
        <div class="col-6">
          <div class="col-12 card card-person ">
          <%= link_to show_people_path(mp.url_name), class: "" do %>
            <div class="row">
              <div class="col-3">
                <img class="card-photo" src="/image/<%= mp.deputy_id %>.png" alt="">
              </div>
              <div class="col-9">
                <p class="card-name"><%= mp.full_name %></p>
                <p class="card-fraction">Фракція "<%= mp.faction %>"</p>
                <p class="card-elected">Обрано за списком партії з 10.2014</p>

                <div class="row check">
                  <div class="col-6 text-uppercase float-left">
                    <p class="checkin">присутність</p>
                    <p class="card-percent"><%= fraction_to_percentage_display(mp.mp_info.attendance_fraction) %> засідань</p></div>
                  <div class="col-6 text-uppercase">
                    <p class="checkin">проти фракції</p>
                    <p class="card-percent"><%= fraction_to_percentage_display(mp.mp_info.rebellions_fraction) %> голосувань</p></div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        
      <% if i % 2 == 1  %>
      </div>
      <% end %>
    
    <% end %>
    <div class="col-12"><%= link_to  '<h4 class="text-uppercase text-center">До відвідування засідань <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h4>'.html_safe, people_path(sort: :attendance) %></div>
  </div>
</div>
<script>
    window.onload = function() {
        var availableTags = [
            <% @mps.each do |m| %>
            "<%= m %>",
            <% end %>
        ];
        $( "#mp" ).autocomplete({
            source: availableTags
        });
    };
</script>