<% content_for :title, 'Про проект— Вони голосують для тебе' %>

<div id="first-block" class="container">

  <div class="col-12 about">
    <h1 class="text-uppercase center-justified text-xs-center">Про проект</h1>

    <div>
      <p>Сервіс LUTSK.RADA4YOU.ORG - це спосіб контролювати <%= link_to "депутатів", people_path() %> Луцької міської ради, не відходячи від свого комп’ютера. За що вони голосують? Чи захищають Твої інтереси, як обіцяли під час виборчої кампанії? Перевір сам. <p>

      <h2 class="text-uppercase center-justified text-xs-center">Луцька міська рада представляє інтереси міщан</h2>

      <p>Луцька міська ради складається з 42 депутатів та міського голови. Усі вони представляють інтереси своїх виборців – міщан. Рада VII скликання прийшла до влади за результатами місцевих виборів 25 жовтня 2015.</p>

      <h2 class="text-uppercase center-justified text-xs-center">Вони голосують для Тебе</h2>

      <p>Депутат міськради - Твій представник. Це Ти делегував його в орган місцевого самоврядування. Ти наділив його владними повноваженнями. Тож контролюй свого обранця. Чи ходить він на засідання? Чи голосує за рішення, які важливі для Тебе і решти мешканцівЛуцька? Чи дотримується фракційної/партійної дисципліни і за яких умов її порушує?</p>

      <h2 class="text-uppercase center-justified text-xs-center">Твій депутат і його голосування</h2>

      <p>На цьому сайті Ти зможеш контролювати свого <%= link_to  "депутат", people_path() %>, не встаючи з-за комп’ютера. LUTSK.RADA4YOU.ORG опрацьовує дані електронної системи, якою користуються міські обранці для <%= link_to "голосувань", divisions_path()%>. Ти знатимеш, скільки разів кожен конкретний депутат прогуляв, які рішення підтримав.  Сервіс дасть Тобі доступ до повного списку голосувань. А також – проілюструє візуалізацією, на скільки співпадають позиції різних фракцій (розділ про <%= link_to "сумісні голосування", sumisne_holosuvannia_path() %>).</p>

      <p>Ти можеш почати контролювати негайно - просто знайди свого депутата за <%= link_to "ім’ям", root_path() %>.</p>

    </div>

  </div>

  <div class="col-12 team">
    <h2 class="text-uppercase center-justified text-xs-center">Подяка</h2>
    <p>Онлайн-сервіс LUTSK.RADA4YOU.ORG розроблено в рамках кампанії «IT tools help to monitor elected officials/ІТ-інструменти допомагають моніторити народних обранців» Громадянською мережею ОПОРА у співпраці з Національним демократичним інститутом міжнародних відносин за фінансової підтримки Уряду Канади.</p>
  </div>

  <div class="col-12 partners">
    <h2 class="text-uppercase center-justified text-xs-center">Ти можеш допомогти</h2>

    <p> LUTSK.RADA4YOU.ORG - це локальна версія сервісу <a href="rada4you.org" target="_blank">Rada4you.org</a>. Материнський сайт опрацьовує парламентські дані та голосування депутатів Верховної Ради України. Ти можеш стати частиною команди Rada4you - інформувати про виявлені неточності чи пропонувати свої ідеї щодо того, як покращити роботу сервісів. Долучайся до нас у <a href="https://www.facebook.com/DorogiDeputaty/" target="_blank">Фейсбуці</a>,
      <a href="https://twitter.com/rada4you?lang=uk" target="_blank">Твіттері</a> чи пиши на пошту rada4you@opora.org.ua.</p>

  </div>

  <div class="col-12 how-help">
    <h2 class="text-uppercase center-justified text-xs-center">Відповідальність</h2>

    <p>Сервіс автоматично опрацьовує дані, оприлюднені Львівською міською радою. За тлумачення результатів окремими користувачами сервісу команда Rada4you.org Громадянської мережі ОПОРА відповідальності не несе.</p>
    <p>Більше інформації про аналіз парламентських даних за допомогою сервісів Rada4you можна прочитати у нашому <a href="https://medium.com/@rada4you" target="_blank">блозі на платформі Medium</a>.</p>
  </div>



</div>

