<% content_for :title, 'Про проект— Вони голосують для тебе' %>

<div id="first-block" class="container">

  <div class="col-12 about">
    <h1 class="text-uppercase center-justified text-xs-center">Про проект</h1>

    <div>
      <p>Сервіс <%= Settings.name_site.upcase  %>.RADA4YOU.ORG – це спосіб контролювати <%= link_to "депутатів", people_path() %> Тернопільської міської ради, не відходячи від свого комп’ютера. Перевір сам - правду не сховати за мурами Ради. Вона – у відкритому доступі.<p>

      <p>Депутат міськради - Твій представник. Це Ти делегував його в орган місцевого самоврядування. Ти наділив його владними повноваженнями. Тож контролюй свого обранця. Чи ходить він на засідання? Чи голосує за рішення, які важливі для Тебе і решти тернополян? Чи дотримується фракційної/партійної дисципліни і за яких умов її порушує?</p>
      <p>Депутати Тернопільської міської ради VII скликання прийшли до влади за результатами місцевих виборів у жовтні 2015
        року. А вже 24 листопада вони урочисто склали присягу. “Присягаю обов’язки депутата виконувати чесно та сумлінно в інтересах громади міста Тернополя”, - обіцяли вони Тобі. Вони - це <%= Mp.where(end_date: '9999-12-31').size - 1 %> депутати та міський голова.</p>

      <p class="text-uppercase">Вони голосують для Тебе</p>

      <p>На цьому сайті Ти зможеш контролювати свого депутата, не встаючи з-за комп’ютера. <%= Settings.name_site.upcase %>.RADA4YOU.ORG.</p>

      <p>Ти знатимеш, скільки разів <%= link_to  "депутат", people_path() %>  прогуляв, які рішення підтримав. Сервіс дасть Тобі доступ до повного списку  <%= link_to "голосувань", divisions_path()%>. А також -
        проілюструє для Тебе <%= link_to "сумісність голосувань", sumisne_holosuvannia_path() %> візуалізацією (на скільки співпадають позиції різних фракцій).</p>

      <p>Ти можеш почати контролювати негайно - просто <%= link_to "знайди свого депутата за ім’ям", root_path() %>.</p>

    </div>

  </div>

  <div class="col-12 team">
    <h2 class="text-uppercase center-justified text-xs-center">Подяка</h2>
    <p>Онлайн-сервіс <%= Settings.name_site.upcase %>.RADA4YOU.ORG розроблено в рамках кампанії «IT tools help to monitor elected officials/ІТ-інструменти допомагають моніторити народних обранців» Громадянською мережею ОПОРА у співпраці з Національним демократичним інститутом міжнародних відносин за фінансової підтримки Уряду Канади.</p>
  </div>

  <div class="col-12 partners">
    <h2 class="text-uppercase center-justified text-xs-center">Ти можеш допомогти</h2>

    <p> <%= Settings.name_site.upcase %>.RADA4YOU.ORG - це локальна версія сервісу <a href="https://rada4you.org" target="_blank">RADA4YOU.ORG</a>. Материнський сайт опрацьовує парламентські дані та голосування депутатів Верховної Ради України. Ти можеш стати частиною команди Rada4you - інформувати про виявлені неточності чи пропонувати свої ідеї щодо того, як покращити роботу сервісів. Долучайся до нас у <a href="https://www.facebook.com/DorogiDeputaty/" target="_blank">Фейсбуці</a>,
      <a href="https://twitter.com/rada4you?lang=uk" target="_blank">Твіттері</a> чи пиши на пошту rada4you@opora.org.ua.</p>

  </div>

  <div class="col-12 how-help">
    <h2 class="text-uppercase center-justified text-xs-center">Відповідальність</h2>

    <p>Сервіс автоматично опрацьовує дані, оприлюднені Тернопільською міською радою. За тлумачення результатів окремими користувачами сервісу команда Rada4you.org Громадянської мережі ОПОРА відповідальності не несе.</p>
    <p>Більше інформації про аналіз парламентських даних за допомогою сервісів Rada4you можна прочитати у нашому блозі <a href="https://medium.com/@rada4you" target="_blank"> на платформі Medium</a>.</p>
    <p>Фото на обкладинці -- <a href="https://www.facebook.com/marchevskyj">Антон Марчевський</a></p>
  </div>



</div>

