<% content_for :title, 'Про проект— Вони голосують для тебе' %>

<div id="first-block" class="container">

  <div class="col-12 about">
    <h1 class="text-uppercase center-justified text-xs-center">Про проект</h1>

      <p>LUTSK.RADA4YOU.ORG – це сервіс для контролю <%= link_to "депутатів", people_path() %> Луцької міської ради. Ним зручно користуватися зі смартфона чи свого комп’ютера.<p>

  <p>Сервіс дасть Тобі доступ до повного списку <%= link_to "голосувань", divisions_path()%>. А також – проілюструє візуалізацією, на скільки співпадають позиції різних фракцій (<%= link_to "сумісні голосування", sumisne_holosuvannia_path() %>), навіть якщо на словах це затяті політичні опоненти. Ти знатимеш, скільки разів кожен конкретний депутат <%= link_to "прогуляв", people_path(sort: "attendance") %>, які рішення підтримав.</p>
  <p>Звідки така інформація? LUTSK.RADA4YOU.ORG автоматично опрацьовує дані електронної системи, якою користуються міські обранці для голосувань.</p>

      <p class="text-uppercase">ВОНИ ГОЛОСУЮТЬ ДЛЯ ТЕБЕ</p>

    <p>Депутат міськради - Твій представник. Це Ти делегував його в орган місцевого самоврядування. Ти наділив його владними повноваженнями. Тож контролюй свого обранця. Чи ходить він на засідання? Чи голосує за рішення, які важливі для Тебе і решти лучан? Чи дотримується <%= link_to "фракційної/партійної дисципліни", people_path(sort: "rebellions") %> і за яких умов її порушує?</p>
  <p>Пам’ятай: органи самоврядування мають представляти міщан. Луцька міська ради складається з 42 депутатів та
    міського голови. Рада VII скликання прийшла до влади за
    результатами місцевих виборів 25 жовтня 2015. З тих пір усі потрібні місту рішення, так само як і шкідливі, прийняті
    від Твого імені.</p>
  <p>Ти можеш почати контролювати свого депутата негайно - просто <%= link_to "знайди його за ім’ям", root_path() %>.</p>
    </div>

  <div class="col-12 team">
    <h2 class="text-uppercase center-justified text-xs-center">Подяка</h2>
    <p>Онлайн-сервіс LUTSK.RADA4YOU.ORG розроблено в рамках кампанії «IT tools help to monitor elected officials/ІТ-інструменти допомагають моніторити народних обранців» Громадянською мережею ОПОРА у співпраці з Національним демократичним інститутом міжнародних відносин за фінансової підтримки Уряду Канади.</p>
  </div>

  <div class="col-12 partners">
    <h2 class="text-uppercase center-justified text-xs-center">Ти можеш допомогти</h2>

    <p>LUTSK.RADA4YOU.ORG – це локальна версія сервісу <a href="https://rada4you.org" target="_blank">Rada4you.org</a>. Материнський сайт опрацьовує парламентські дані та голосування депутатів Верховної Ради України. Місцева версія – роботу депутатів міськрад.</p>
     <p>Ти можеш стати частиною команди Rada4you - інформувати про виявлені неточності чи пропонувати свої ідеї щодо того, як покращити роботу сервісів. Долучайся до нас у <a href="https://www.facebook.com/DorogiDeputaty/" target="_blank">Фейсбуці</a>,
      <a href="https://twitter.com/rada4you?lang=uk" target="_blank">Твіттері</a> чи пиши на пошту rada4you@opora.org.ua.</p>

  </div>

  <div class="col-12 how-help">
    <h2 class="text-uppercase center-justified text-xs-center">Відповідальність</h2>

    <p>Сервіс автоматично опрацьовує дані, оприлюднені Луцькою міською радою. За тлумачення результатів окремими користувачами команда Rada4you.org Громадянської мережі ОПОРА відповідальності не несе.</p>
    <p>Увага! Показник відвідування формується на базі даних про усі голосування міського обранця впродовж усіх сесій з початку каденції міськради VII скликання. Якщо депутат/ка набула/в повноважень пізніше, показник відвідуваності може демонструвати некоректну цифру.</p>
    <p>Більше інформації про аналіз парламентських даних за допомогою сервісів Rada4you можна прочитати у нашому <a href="https://medium.com/@rada4you" target="_blank">блозі на платформі Medium</a>.</p>
  </div>



</div>

