<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= yield(:title) %></title>
  <base href="" />
  <meta name="description" content="" />
  <meta name="keywords" content= "" />
  <meta property="og:title" content="<%= yield(:title) %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://" />
  <meta property="og:image" content="http://logo" />
  <meta property="og:site_name" content="" />

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <% if controller.controller_path != "home" %>
      <style>
        header{
          background: none;
          background-color: #000;
          height: 42px;
          min-height: auto;
        }
        #logo p{
          color: #000;
        }
        #logo .first-word{
          color: #009FE2;
        }
        #navbarCollapse{
          background-color: #000;
        }
        .navbar-inverse .navbar-nav .nav-link{

          line-height: 28px;
          font-size: 14px;
          height: 3.51%;
        }
        .navbar {
          padding: 0 0 0 15rem;
        =
        }
        #first-block .notfound h1{

          color: #252525;
          font-size:24px;
          line-height: 24px;
          font-family: GothaProBol;
        }
        .fa-inverse {
          color: #E5E5E5;
          font-size: 12px;
        }
        .update-data p:nth-child(2), .rada-date p:nth-child(2){
          color: #949393;
        }
      </style>
  <% end %>
</head>
<body>
    <% unless request.path == "/500" %>
    <header class="container-fluid">
      <nav class="navbar navbar-toggleable-md navbar-light mb-4">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <% if controller.controller_path == "home" %>
          <%= link_to "<p><i class='fa fa-circle fa-stack-1x'></i><span class='first-word'>Lviv</span>.Rada4You.org</p>".html_safe, root_path, class: "navbar-brand text-uppercase logo" %>
        <% end %>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to "Депутати", people_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Голосування", divisions_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Сумісні голосування", sumisne_holosuvannia_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Про проект", about_path, class: "nav-link"  %>
            </li>
          </ul>
          <div class="button-search">
              <i class="fa fa-search" aria-hidden="true"></i>
              <input type="button" value="Пошук" class="btn btn-primary" data-toggle="modal" data-target="#ModalSearch" >
          </div>
        </div>
      </nav>
      <% if controller.controller_path == "home" %>
      <div id="info" class="row">
        <div class="col-12">
          <div class="col-2 update-data pull-right pull-2">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-clock-o fa-stack-1x fa-inverse" aria-hidden="true"></i>
                        </span>
            <p class="text-uppercase">Оновлення даних</p>
            <p><%= last_update_rada %></p>
          </div>
          <div class="col-2 rada-date pull-right push-2">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-clock-o fa-stack-1x fa-inverse" aria-hidden="true"></i>
                        </span>
            <p class="text-uppercase">Засідання облради</p>
            <p><%= last_sessions_rada() %></p>
          </div>
        </div>
      </div>
      <div style="clear: both;"></div>

      <div class="col-8 offset-2">
        <div class="col-12">
          <p class="text-uppercase text-center text-q">Як депутати голосують за питання, які важливі для тебе?</p>
        </div>
        <div class="col-12">
          <%= form_tag(search_path, method: "get", class: "form-inline mt-2 mt-md-0", id: "search-main" ) do  %>
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-search fa-stack-1x fa-inverse" aria-hidden="true"></i>
                        </span>
            <%= text_field_tag(:query, params[:query] , class: "form-control mr-sm-2" , placeholder: "напр., Адамик Петро Михайлович" ) %>
            <i class="fa fa-chevron-down arrow-icon" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
      <% end %>

    </header>
    <% if controller.controller_path != "home" %>
        <div id="info" class="row">
          <div class="col-12">
            <%= link_to "<p><i class='fa fa-circle fa-stack-1x'></i><span class='first-word'>Lviv</span>.Rada4You.org</p>".html_safe, root_path, class: "col-4 navbar-brand text-uppercase logo", id: "logo" %>
            <% if controller.controller_path != "errors" %>
            <div class="col-3 update-data pull-right pull-3">
                        <span class="fa-stack">
                            <i class="fa fa-clock-o fa-stack-1x fa-inverse" aria-hidden="true"></i>
                        </span>
              <p class="text-uppercase">Оновлення даних</p>
              <p><%= last_update_rada %></p>
            </div>
            <div class="col-3 rada-date pull-right push-3">
                        <span class="fa-stack">
                            <i class="fa fa-clock-o fa-stack-1x fa-inverse" aria-hidden="true"></i>
                        </span>
              <p class="text-uppercase">Засідання облради</p>
              <p><%= last_sessions_rada() %></p>
            </div>
            <% end %>
          </div>
        </div>
    <% end %>
    <% end %>
  <%= yield %>
<% unless request.path == "/500" %>
<footer>
  <div class="container">
    <div class="col-12"><p class="text-uppercase text-center title">Проект Громадянської мережі <%= link_to "ОПОРА", "http://oporaua.org", target: "_blank"  %></p></div>
    <div class="row">
      <div class="col-md-4 col-lg-4 col-xs-4">Усі дані та програмне забезпечення надаються з <%= link_to  "відкритим вихідним кодом та є вільними для поширення", help_licencing_path %></div>
      <div class="col-md-4 col-lg-4 col-xs-4">
                    <span class="fa-stack fa-2x">
                        <a href="https://facebook.com/DorogiDeputaty"><i class="fa fa-circle-thin fa-stack-2x"></i>
                          <i class="fa fa-facebook fa-stack-1x fa-inverse" aria-hidden="true"></i></a>
                    </span>
        <span class="fa-stack fa-2x">
                        <a href="https://twitter.com/rada4you"><i class="fa fa-circle-thin fa-stack-2x"></i>
                          <i class="fa fa-twitter fa-stack-1x fa-inverse" aria-hidden="true"></i></a>
                    </span>
        <span class="fa-stack fa-2x">
                        <a href="mailto:info@opora.org.ua"><i class="fa fa-circle-thin fa-stack-2x"></i>
                          <i class="fa fa-envelope fa-stack-1x fa-inverse" aria-hidden="true"></i></a>
                    </span>

      </div>
      <div class="col-md-4 col-lg-4 col-xs-4 text-uppercase">
        <p><%= link_to "API", help_data_path, rel: "nofollow"  %></p>
        <p><%= link_to "Поширені питання", help_faq_path, rel: "nofollow" %></p>
      </div>
    </div>
  </div>

</footer>
<% end %>
    <!-- Modal search -->
    <div id="ModalSearch" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <a id="logo" class="col-4 navbar-brand text-uppercase logo" href="#">
                            <p><i class="fa fa-circle fa-stack-1x"></i>
                                <span class="first-word">Lviv</span>.Rada4You.org</p>
                        </a>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span>Пошук по сайту</span>

                    <form>
                        <input type="search" placeholder="Уведіть пошуковий запит">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
