<div class="container">
  <div class="col-12 list-filters clearfix">
    <ul class="sort-first text-uppercase">
      <li <%= params[:vote].blank? ? "class=disabled": "" %>><%= link_to "Підтримка політики", policy_path(@policy.id, vote: nil ), remote: true %></li>
      <li <%= params[:vote] == "true" ? "class=disabled": "" %>><%= link_to "Пов’язані голосування (" + @policy.policy_divisions.size.to_s + ")", policy_path(vote: true), remote: true %></li>

    </ul>
  </div>
  <% if params[:vote].blank? %>
      <div class="col-11 list-filters">
        <ul class="sort-fraction text-uppercase">
          <div style="display: flex; justify-content: space-around">
          <li <%= params[:policy].blank? ? "class=active-fon-fraction col col-4": "col col-4" %>><%= link_to "Максимально голосує за", policy_path(@policy.id), remote: true %></li>
          <li <%= params[:policy] == "2" ? "class=active-fon-fraction col col-4": "col col-4" %>><%= link_to "Послідовно голосує за", policy_path(@policy.id, policy: 2), remote: true %></li>
          <li <%= params[:policy] == "3" ? "class=active-fon-fraction col col-4": "col col-4" %>><%= link_to "Переважно голосує за", policy_path(@policy.id, policy: 3 ), remote: true %></li>
          <li <%= params[:policy] == "4" ? "class=active-fon-fraction col col-4": "col col-4" %>><%= link_to "Суміш за та проти", policy_path(@policy.id, policy:4 ), remote: true %></li>
          </div>
            <div style="display: flex; justify-content: space-around">
          <li <%= params[:policy] == "5" ? "class=active-fon-fraction col col-4": "col col-4" %>><%= link_to "Переважно голосує проти", policy_path(@policy.id, policy:5 ), remote: true %></li>
          <li <%= params[:policy] == "6" ? "class=active-fon-fraction col col-4": "col col-4" %>><%= link_to "Послідовно голосує проти", policy_path(@policy.id, policy:6 ), remote: true %></li>
          <li <%= params[:policy] == "7" ? "class=active-fon-fraction col col-4": "col col-4" %>><%= link_to "Максимально голосує проти", policy_path(@policy.id, policy:7 ), remote: true %></li>
          <li <%= params[:policy] == "8" ? "class=active-fon-fraction col col-4": "col col-4" %>><%= link_to "Ніколи не голосує", policy_path(@policy.id, policy:8 ), remote: true %></li>
            </div>
        </ul>
      </div>
      <div id="list_mp">
        <%= render "mp", mps: @polisy_mp %>

      </div>
  <% else %>
      <div id="list_vote">
        <%= render "voted", division: @policy.policy_divisions %>

      </div>
  <% end %>


</div>