<div class="container">
    <div class="row">
        <% division.each do |d| %>
        <div class="col-6" style="margin-bottom: 25px">
            <%= link_to divisions_show_path(d.division.date, d.division.number), class: "" do %>
            <div class="col-12 pull-right card" style="padding: 25px 30px">
                <div class="row text-uppercase" style="justify-content: space-between;">
                    <div class="approve "><i class="fa <%=  d.division.result == "Прийнято" ? "fa-check-circle" : "fa-times-circle"  %>" aria-hidden="true"></i> <%= d.division.result %></div>
                    <div class="card-date"><%= d.division.date.strftime('%d.%m.%Y') %>, <%= Time.parse(d.division.clock_time).strftime('%H:%M') %> </div>
                </div>
                <div class="row card-text">
                    <p><%=  d.division.name  %></p>
                </div>
                <div class="row check">
                    <div class="col-4 text-uppercase float-left">
                        <p class="checkin">присутність</p>
                        <p class="card-percent"><%= fraction_to_percentage_display(d.division.division_info.attendance_division) %></p>
                    </div>
                    <div class="col-4 text-uppercase">
                        <p class="checkin">проти фракції</p>
                        <p class="card-percent"><%= d.division.division_info.rebellions %>  голосувань</p>
                    </div>

                    <div class="col-4 text-uppercase float-right" style="top: -30px;color:#000;font-size: 8px;line-height: 18px;">
                      <!--<p class="checkin"></p>-->
                      <%= result_support(d.support) %>
                    </div>

                </div>
            </div>
            <% end %>
          <%  if controller.action_name == "edit"  %>
              <div class="actions">
                <%= link_to 'Вилучити з політики', d, method: :delete, data: { confirm: 'Are you sure?' } , style: "margin-top: 20px; margin-left: 63px;margin-right:20px; "%>
                <%= link_to 'Змінити позицію щодо політики', edit_policy_division_path(d) %>

              </div>
          <% end %>
        </div>

        <% end %>
    </div>
</div>

