<% content_for :title, "Політика — Як Голосує Твій Депутат?" %>

<div id="divisionshow" class="container">
  <h1 class="text-uppercase center-justified text-xs-center">Політика <%= Settings.name_rada %></h1>
</div>
<div class="container-fluid team">
  <div class="container">
    <div class="row">
    <div class="col-12 col-lg-9">
     <h2><strong><%= @policy.name %></strong></h2>
      <p><%= @policy.description %></p>
    </div>
    <div class="col-12 col-lg-3">
       <ul class="social row pull-right text-uppercase">
            <li class="col-12">
              <%= link_to edit_policy_path(@policy) do %>
                    <span class="fa-stack ">
                      <i class="fa fa-square-o fa-stack-2x"></i>
                      <i class="fa  fa-download  fa-stack-1x"></i>
                    </span>Редагувати
              <% end %>
            </li>
            <li class="col-12">
              <%= link_to policy_path(@policy, history: 1) do %>
                    <span class="fa-stack ">
                      <i class="fa fa-square-o fa-stack-2x"></i>
                      <i class="fa  fa-download  fa-stack-1x"></i>
                    </span>Історія редагувань
              <% end %>
            </li>
        </ul>    
    </div>
    </div>
  </div>
</div>
  <% if params[:history]=="1" %>
      <div id="divisionshow" class="container">
        <h2 class="text-uppercase center-justified text-xs-center">Історія редагувань</h2>
      </div>
      <div class="container">
        <div id="list_history">
     <%= render 'layouts/history' %>
        </div>
      </div>
  <% else %>
    <div id="detal">
    <%= render "show" %>
  <% end %>
</div>





<%#= link_to 'Back', policies_path %>
