<% content_for :title, "Політика — Як Голосує Твій Депутат?" %>

<div id="divisionshow" class="container">
  <h1 class="text-uppercase center-justified text-xs-center">Політика <%= Settings.name_rada %></h1>
</div>
<div class="container-fluid team">
  <div class="container">
    <%= link_to 'Редагувати', edit_policy_path(@policy), class: "pull-right" %>

    <p><strong><%= @policy.name %></strong></p>
    <%= link_to 'Історія редагувань', policy_path(@policy, history: 1), class: "pull-right" %>
    <p><%= @policy.description %></p>

  </div>

</div>

  <% if params[:history]=="1" %>
      <div id="divisionshow" class="container">
        <h2 class="text-uppercase center-justified text-xs-center">Історія редагувань</h2>
      </div>
      <div class="container">
        <div id="list_history">
     <%= render 'layouts/history' %>
        </div>
      </div>
  <% else %>
    <div id="detal">
    <%= render "show" %>
  <% end %>
</div>





<%#= link_to 'Back', policies_path %>
